doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        style(type="text/css") @import url("/static/css/bootstrap.min.css");
        style(type="text/css") @import url("/static/css/common.css");
        title Test

    body

        jade:break_jade break
